# git+https://github.com/supervisely/supervisely.git@some-test-branch

supervisely==6.73.331

# AUGS
imgaug==0.4.0
imagecorruptions==1.1.2

# MM
mmengine==0.10.7
mmcv==2.2.0
openmim==0.3.9

importlib_metadata
modelindex==0.0.2
einops==0.8.1
mat4py==0.6.0
matplotlib==3.10.1
rich==13.9.4
