<div>
    <sly-card title="Training augmentations"
              subtitle="Choose one of the prepared templates or provide custom pipeline"
              :options="{collapsable: true}"
              :collapsed.sync="state.collapsed5"
              :disabled="{disabled: state.disabled5, message: 'Validate data at step 4 before configure augmentations'}">
        <el-tabs type="border-card" class="el-tabs-cards" v-model="state.augsType">
            <el-tab-pane name="template">
                <el-radio slot="label" v-model="state.augsType" label="template">
                    Default templates
                    <div>Choose one of the prepared templates</div>
                </el-radio>
                <sly-field title="Template">
                    <el-select v-model="state.augsTemplateName" placeholder="Select template">
                        <el-option
                                v-for="item in data.augTemplates"
                                :key="item.name"
                                :label="item.name"
                                :value="item.name">
                        </el-option>
                    </el-select>
                </sly-field>
                <sly-field title="Preview python representation">
                    <sly-copy-to-clipboard :data="data.augPythonCode[state.augsTemplateName]">
                        <sly-editor v-model="data.augPythonCode[state.augsTemplateName]"
                                    :options="data.pyViewOptions">
                        </sly-editor>
                    </sly-copy-to-clipboard>
                </sly-field>
                <sly-field title="Preview augmentation pipeline on random image">
                    <el-button type="primary" class="regular" @click="command('preview_augs')">Preview</el-button>
                    <sly-grid-gallery
                            v-if="data.gallery && state.augsType == 'template'"
                            class="mt10"
                            :content="data.gallery.content"
                            :options="data.gallery.options">
                        <template v-slot:card-footer="{ annotation }">
                            <div class="mt5" style="text-align: center">
                                <el-tag type="primary">{{annotation.title}}</el-tag>
                            </div>
                        </template>
                    </sly-grid-gallery>
                </sly-field>
            </el-tab-pane>
            <el-tab-pane name="custom">
                <el-radio slot="label" v-model="state.augsType" label="custom">
                    Custom pipeline
                    <div>Use ImgAug Studio app to configure and save custom augmentations</div>
                </el-radio>
                <sly-field title="Path to JSON configuration" description="Copy path in Team Files">
                    <div class="fflex">
                        <el-input v-model="state.customAugsPath"
                                  placeholder="Path to .json file in Team Files"></el-input>
                        <el-button
                                style="margin-left: 5px;"
                                type="primary" class="regular" size="small"
                                :disabled="state.customAugsPath.length === 0"
                                @click="command('load_existing_pipeline')">
                            Load
                        </el-button>
                    </div>
                </sly-field>
                <sly-field title="Preview python representation" v-if="data.customAugsPy">
                    <sly-copy-to-clipboard :data="data.customAugsPy">
                        <sly-editor v-model="data.customAugsPy"
                                    :options="data.pyViewOptions">
                        </sly-editor>
                    </sly-copy-to-clipboard>
                </sly-field>
            </el-tab-pane>
        </el-tabs>
    </sly-card>

    <!--    <sly-card class="mt15"-->
    <!--              title="5. Preview augmentations on random image"-->
    <!--              subtitle="Press preview button to apply augmentations to random image">-->
    <!--        <div slot="header">-->
    <!--            <el-button type="primary" class="regular"-->
    <!--                       @click="command('preview_augs')"-->
    <!--                       :disabled="(state.augsType === 'custom' && state.customAugsPath.length === 0) ||-->
    <!--                                  (state.augsType === 'custom' && !data.customAugsPy)"-->
    <!--            >-->
    <!--                Preview-->
    <!--            </el-button>-->
    <!--        </div>-->
    <!--        <div v-if="!data.gallery">-->
    <!--            <i class="zmdi zmdi-help" style="color: orange"></i> Press preview button to apply augmentations to random-->
    <!--            image-->
    <!--        </div>-->
    <!--        <div v-show="state.augsType === 'custom' && state.customAugsPath.length === 0" class="mt10" style="color: red">-->
    <!--            Please define the path in Team Files to augs config-->
    <!--        </div>-->
    <!--        <div v-show="state.selectedTags.length === 0" class="mt10" style="color: red">-->
    <!--            Please select training tags at step #2-->
    <!--        </div>-->
    <!--        <div v-show="state.augsType === 'custom' && !data.customAugsPy" class="mt10" style="color: red">-->
    <!--            Please press 'Load' button to preview custom augs configuration-->
    <!--        </div>-->
    <!--        <sly-grid-gallery-->
    <!--                v-if="data.gallery"-->
    <!--                :content="data.gallery.content"-->
    <!--                :options="data.gallery.options">-->
    <!--            <template v-slot:card-footer="{ annotation }">-->
    <!--                <div class="mt5" style="text-align: center">-->
    <!--                    <el-tag type="primary">{{annotation.title}}</el-tag>-->
    <!--                </div>-->
    <!--            </template>-->
    <!--        </sly-grid-gallery>-->
    <!--    </sly-card>-->
</div>