<sly-card class="mt15"
          title="4. Training augmentations"
          subtitle="Choose one of the prepared templates or define custom pipleine">
    <el-radio-group v-model="state.augsType">
        <el-radio-button label="template">ready to use template</el-radio-button>
        <el-radio-button label="custom">custom pipeline</el-radio-button>
    </el-radio-group>
    <div v-if="state.augsType === 'template'">
<!--        <el-select v-model="value" placeholder="Select">-->
<!--            <el-option-->
<!--                    v-for="item in options"-->
<!--                    :key="item.value"-->
<!--                    :label="item.label"-->
<!--                    :value="item.value">-->
<!--            </el-option>-->
<!--        </el-select>-->
    </div>
</sly-card>